* {
    margin: 0;
}

body {
    padding: 2%;
}
.postWrap {
    min-width: 300px;
    margin: 0 auto;
    background: azure;
    border: 2px solid silver;
    padding: 10px 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

p {
    text-align: justify;
}

span {
    font-weight: bold;
}

.postWrap > p:nth-child(4) {
    margin-top: 10px;
    border-top: 2px solid silver;
    border-bottom: 2px solid silver;
}

.btnComments {
    margin-top: 30px;
    padding: 10px 40px;
    border: 2px solid deepskyblue;
    border-radius: 5px;
    box-sizing: border-box;
    align-self: center;
    transition: 0.3s;
}

.btnComments:hover {
    background: deepskyblue;
    border: 2px solid silver;
}

.commentsOfPost {
    display: none;
    flex-wrap: wrap;
    margin-top: 30px;
    justify-content: space-evenly;
    row-gap: 30px;
    column-gap: 10px;
}
.visibilityChanger {
    display: flex;

}

.commentBox {
    min-width: 120px;
    width: 20%;
    /*flex-grow: 1;*/
    border: 2px solid silver;
    padding: 10px;
    box-sizing: border-box;
}

h4, p {
    word-wrap: break-word;
}

.commentBox > p {
    margin-top: 10px;
    border-top: 2px solid silver;
}